<div{{ attributes }}>
  {% if not paragraph.disable_wrapper.value %}
  <div{{ wrapper_attributes }}>
    {% endif %}
    <div{{ region_attributes.main }}>
      {{ content.main }}
    </div>
  {% if not paragraph.disable_wrapper.value %}
  </div>
  {% endif %}
</div>
