.field-group--inline {
  & > .details-wrapper,
  & > .fieldset-wrapper {
    display: grid;
    grid: none / repeat(auto-fit, minmax(200px, 1fr));
    column-gap: 15px;
  }
}

.horizontal-tabs-pane {
  & > .details-wrapper {
    padding: 0;
  }
}
