@use 'sass-utils' as *;

.layout--uni-2col {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 20px;

  @include below($md) {
    display: block;
  }

  & > .region > * {
    @include paragraph-margin;

    @include above($md) {
      &:first-of-type {
        margin-top: 0;
      }
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}

.layout--uni-2col-1-2 {
  grid-template-columns: minmax(0, 1fr) minmax(0, 2fr);
}

.layout--uni-2col-2-1 {
  grid-template-columns: minmax(0, 2fr) minmax(0, 1fr);
}
