@use 'sass-utils' as *;

.layout--uni-2col {
  @include above($md) {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 60px;
  }

  &.grid-1-2 {
    @include above($md) {
      grid-template-columns: minmax(0, 1fr) minmax(0, 2fr);
    }
  }

  &.grid-2-1 {
    @include above($md) {
      grid-template-columns: minmax(0, 2fr) minmax(0, 1fr);
    }
  }

  & > .region > * {
    @include paragraph-margin;

    @include above($md) {
      &:first-of-type {
        margin-top: 0;
      }
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}
